[submodule "submodules/whatwg/encoding"]
	path = submodules/whatwg/encoding
	url = https://github.com/whatwg/encoding.git
[submodule "submodules/publicsuffix/list"]
	path = submodules/publicsuffix/list
	url = https://github.com/publicsuffix/list.git
[submodule "submodules/dwyl/english-words"]
	path = submodules/dwyl/english-words
	url = https://github.com/dwyl/english-words.git
[submodule "submodules/hingston/japanese"]
	path = submodules/hingston/japanese
	url = https://github.com/hingston/japanese.git
